<div class="row">
  <section class="col-xs-12 col-lg-offset-3 col-lg-6 col-lg-offset-3" style="margin-top:60px;">
    <h1 style="margin-bottom:40px;" class="text-center">Tous Les Diplomes</h1>
    <div class="row" *ngFor="let diploma of diplomas" id="dip{{diploma.id}}">
      <!-- -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h5 class="text-center">{{diploma.description}}</h5>
        </div>
        <div class="panel-body">
          <table border="2">
             <img *ngIf="!isDocument(diploma.name)" class="managed-diploma" [src]="diploma.proofDocument | safe: 'resourceUrl'" [alt]="diploma.description"/>
             <a *ngIf="isDocument(diploma.name)" target="_blank" [href]="diploma.proofDocument | safe: 'resourceUrl'" download>telecharger le fichier</a>
            </table>
            <br><br>
            <small>ajouté le : <b>{{diploma.createdAt | date}}</b></small>
        </div>
        <div class="panel-footer">
          <div class="row">
            <div class="col-xs-6">
              <button routerLink="/admin/dashboard/formations/{{diploma.id}}/edit" class="btn btn-warning pull-right" id="edit-navbar-logo">modifier</button>
            </div>
            <div class="col-xs-6">
              <button class="btn btn-danger" (click)="showModal(diploma.id)" id="delete-diploma">supprimer</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>