<div class="row">
  <section class="col-xs-12 col-lg-offset-3 col-lg-6 col-lg-offset-3" style="margin-top:60px;">
    <h1 style="margin-bottom:40px;" class="text-center">Modifier Mon Compte</h1>
    <form class="form form-horizontal" [formGroup]="editCredentialsForm" (ngSubmit)="onSubmitForm()">
         <div class="form-group">
           <label for="firstname">firstname : </label>
           <input type="text" formControlName="firstName" id="firstname" class="form-control"/>
         </div>
         <div class="form-group">
           <label for="lastname">lastname : </label>
           <input type="text" formControlName="lastName" id="lastname" class="form-control"/>
         </div>
        <div class="form-group">
          <label for="email">email : </label>
          <input type="email" formControlName="email" id="email" class="form-control" />
        </div>
        <div class="form-group">
          <button type="button" (click)="toggleChangePasswordView()" class="btn btn-danger">modifier mot de passe</button>
        </div>
        <div *ngIf="changePassword" class="form-group">
          <label for="oldPassword">old password : </label>
          <input type="password" id="oldPassword" formControlName="oldPassword" class="form-control"/>
        </div>
        <div *ngIf="changePassword" class="form-group">
          <label for="newPassword">new password : </label>
          <input type="password" id="newPassword" formControlName="newPassword" class="form-control"/>
        </div>
        <div class="form-group">
          <button type="submit" style="margin-top:30px;" class="btn btn-warning" [disabled]="editCredentialsForm.invalid">Confirmer</button>
        </div>
        <div class="form-group">
          <small class="text-danger"><b>{{errorMessage}}</b></small>
        </div>
    </form>
  </section>
</div>